body {
  margin: 0;
  background: url('/img/logo.png') no-repeat center;
}

#pinata {
  position: absolute;
  width: 200px;
}

.chatbot-mobile-button {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .chatbot-mobile-button {
    border-radius: 50%;
    display: inline;
  }
}

#chatbot-container {
  width: 400px;
  position: fixed;
  bottom: 0;
  opacity: 1;
  right: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: grey;
  margin: 0;
  border-top-right-radius: 0.5vw;
  border-top-left-radius: 0.5vw;
}

@media screen and (max-width: 740px) {
  #chatbot-container {
    display: none;
  }
}

#chatbot-container .send-icon {
  -webkit-transform: translateX(-25%) rotate(45deg);
          transform: translateX(-25%) rotate(45deg);
}

#chatbot-container .chatbot-title {
  background: #CCC;
  border-top-right-radius: 0.5vw;
  border-top-left-radius: 0.5vw;
  height: 50px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  cursor: pointer;
}

#chatbot-container .chatbot-inputs {
  padding: 0;
}

#chatbot-container .chatbot-inputs .input-chatbot {
  border-radius: 0;
  height: 50px;
}

#chatbot-container .chatbot-inputs .button {
  height: 50px;
}

#chatbot-container .chatbot-content {
  overflow: scroll;
  overflow-x: hidden;
  min-height: 350px;
  max-height: 350px;
  padding-top: 1.25rem;
}

#chatbot-container .chatbot-content .loader-msg {
  opacity: 1 !important;
}

#chatbot-container .chatbot-content .msg {
  opacity: 0;
}

#chatbot-container .chatbot-content .msg .msg-user {
  width: 50px;
}

#chatbot-container .chatbot-content .msg .msg-content {
  background: #CCC;
  border-radius: 0.5vw;
  padding: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chatbot-container .chatbot-content .msg .msg-content .loading-dots {
  display: inline-block;
}

#chatbot-container .chatbot-content .msg .msg-content .loading-dots .dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: grey;
  -webkit-animation: upDot .4s linear infinite alternate;
          animation: upDot .4s linear infinite alternate;
}

#chatbot-container .chatbot-content .msg .msg-content .loading-dots .dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#chatbot-container .chatbot-content .msg .msg-content .loading-dots .dot:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#chatbot-container .chatbot-content .msg .msg-content .loading-dots .dot:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.pinata-reward {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pinata-reward h2 {
  font-size: 2vw;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.chatbot-opened-mobile {
  -webkit-transform: none !important;
          transform: none !important;
  display: block !important;
  width: 100vw !important;
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin: 0;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: slideInChatbotMobile;
          animation-name: slideInChatbotMobile;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chatbot-opened-mobile .send-icon {
  -webkit-transform: translateX(-25%) rotate(45deg);
          transform: translateX(-25%) rotate(45deg);
}

.chatbot-opened-mobile .chatbot-title {
  background: #CCC;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  height: 10vh !important;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  cursor: pointer;
}

.chatbot-opened-mobile .chatbot-inputs {
  height: 5vh !important;
  padding: 0;
}

.chatbot-opened-mobile .chatbot-inputs .input-chatbot {
  border-radius: 0;
  height: 5vh !important;
}

.chatbot-opened-mobile .chatbot-inputs .button {
  height: 5vh !important;
}

.chatbot-opened-mobile .chatbot-content {
  overflow: scroll;
  overflow-x: hidden;
  min-height: none !important;
  max-height: none !important;
  height: 85vh !important;
}

.chatbot-opened-mobile .chatbot-content .msg {
  opacity: 0;
}

.chatbot-opened-mobile .chatbot-content .msg .msg-user {
  width: 50px;
}

.chatbot-opened-mobile .chatbot-content .msg .msg-content {
  background: #CCC;
  border-radius: 0.5vw;
  padding: 0.5em;
}

@-webkit-keyframes slideInChatbotMobile {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideInChatbotMobile {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes upDot {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes upDot {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
/*# sourceMappingURL=custom.css.map */