.form-control{
	widht : 100%;
}

textarea {
    resize: none;
}

.formarea{
	height: 60vh !important;
}

.shortpadding{
	padding: 3vh;
}

.h2{
	font-size : 3.1vh;
	margin : 0;
}

.container-title{
	height : 5.3vh;
}

#remplacementThemes{
	height: 6vh;
}