@font-face {
	font-family: "ArcadeFont";
	src: url('/font/upheavtt.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body{
    font-family: "ArcadeFont";
    color: white;
    user-select: none;
    width: 90vw;
    height: 90vh;
    background-image: url("/img/background.png");
    overflow: hidden;

    #error{

        position: absolute;
        z-index: 9999999999999;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("/img/background.png");
        text-align: center;
        
        .error-content{
            font-size: 5vh;
        }

        .game-infos{
            img{
                width: 15vw;

                &:hover{
                    cursor: pointer;
                }
            }
            margin: 9vw 0;
            font-size: 3vh;

        }
    }
    
    #game-container {

        .ingredient {
            position: absolute;
            border: 3px solid transparent;
            width: 60px;
            height: 60px;
            touch-action: none;
            margin: 2px;
            animation: floating 2s ease-in-out infinite;
        }
        
        .drop-active {
            border-color: pink;
            border-style: dashed;
        }

        .leaderboard{
            position: absolute;
            left: -9vw;
            top: 20vw;
            cursor: pointer;
            transition: 0.5s;
            
            &:hover{
                left : 0vw;
            }

            .listeUser{
                color: black;
                position: absolute;
                top: 7.5vh;
                left: 2vw;
            }

        }
        
        .score{
            font-size: 3vh;
            position: absolute;
            right: 5vw;
            top: 5vh;
        }

        #gauge{
            position: absolute;
            top: 50vh;
            transform: translateY(-50%);
            right: 2vw;
            height: 80vh;

            >*{
                position: absolute;
                height: 80vh;
                width: 1vw;
            }

            .gauge-liquid{
                height: 0vh;
                bottom: 0;
            }
        }

        .title{
            position: absolute;
            top: 1vw;
            left: 50vw;
            transform: translateX(-50%);
        }

        .options{
            position: absolute;
            left: -9vw;
            top: 6vw;
            transition: 0.5s;
            cursor: pointer;

            &:hover{
                left : 0vw;
            }
        }

        .reciepes{
            position: absolute;
            left: 50vw;
            width: 100vw;
            transform: translateX(-50%);
            bottom : 0vh;

            .reciepe{
                margin: 0 2vw;
                display: inline-block;
                transition: 0.5s;
            }
        }

        #loser{
            position: absolute;
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -50%);
            z-index: 9999;
            display: none;
            text-align: center;
            img{
                width: 25vw;
            }
            button{
                background: #DB0800;
                cursor: pointer;
            }
            >*{
                font-family: "ArcadeFont";
                margin: 10px 0;
                text-align: center;
                width: 100%;
                display: block;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;  
                border: none;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 4vh;
            }
        }
    }

    #monster {
        position: absolute;
        left: 50vw;
        top: 6vh;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 1850px) {
    body{
        #game-container {
            .reciepes{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    body{
        #game-container {
            .options{
                left: -33vw;
            }

            .leaderboard{
                top: 30vh;
                left: -33vw;
            }

            #gauge{
                
                right: 4vw;
                >*{

                    width: 3vw;
                }
            }


        }
    }
}

// ANIMATIONS

@keyframes floating { 
    0% { 
        transform: translateY(0%);
    } 
    50% { 
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0%);
    }
}
