@font-face {
  font-family: "ArcadeFont";
  src: url("/font/upheavtt.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "ArcadeFont";
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 90vw;
  height: 90vh;
  background-image: url("/img/background.png");
  overflow: hidden;
}

body #error {
  position: absolute;
  z-index: 9999999999999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("/img/background.png");
  text-align: center;
}

body #error .error-content {
  font-size: 5vh;
}

body #error .game-infos {
  margin: 9vw 0;
  font-size: 3vh;
}

body #error .game-infos img {
  width: 15vw;
}

body #error .game-infos img:hover {
  cursor: pointer;
}

body #game-container .ingredient {
  position: absolute;
  border: 3px solid transparent;
  width: 60px;
  height: 60px;
  -ms-touch-action: none;
      touch-action: none;
  margin: 2px;
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

body #game-container .drop-active {
  border-color: pink;
  border-style: dashed;
}

body #game-container .leaderboard {
  position: absolute;
  left: -9vw;
  top: 20vw;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #game-container .leaderboard:hover {
  left: 0vw;
}

body #game-container .leaderboard .listeUser {
  color: black;
  position: absolute;
  top: 7.5vh;
  left: 2vw;
}

body #game-container .score {
  font-size: 3vh;
  position: absolute;
  right: 5vw;
  top: 5vh;
}

body #game-container #gauge {
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2vw;
  height: 80vh;
}

body #game-container #gauge > * {
  position: absolute;
  height: 80vh;
  width: 1vw;
}

body #game-container #gauge .gauge-liquid {
  height: 0vh;
  bottom: 0;
}

body #game-container .title {
  position: absolute;
  top: 1vw;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body #game-container .options {
  position: absolute;
  left: -9vw;
  top: 6vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

body #game-container .options:hover {
  left: 0vw;
}

body #game-container .reciepes {
  position: absolute;
  left: 50vw;
  width: 100vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0vh;
}

body #game-container .reciepes .reciepe {
  margin: 0 2vw;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #game-container #loser {
  position: absolute;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  text-align: center;
}

body #game-container #loser img {
  width: 25vw;
}

body #game-container #loser button {
  background: #DB0800;
  cursor: pointer;
}

body #game-container #loser > * {
  font-family: "ArcadeFont";
  margin: 10px 0;
  text-align: center;
  width: 100%;
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vh;
}

body #monster {
  position: absolute;
  left: 50vw;
  top: 6vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1850px) {
  body #game-container .reciepes {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  body #game-container .options {
    left: -33vw;
  }
  body #game-container .leaderboard {
    top: 30vh;
    left: -33vw;
  }
  body #game-container #gauge {
    right: 4vw;
  }
  body #game-container #gauge > * {
    width: 3vw;
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=game.css.map */