body {
	height: 100%;
}


.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 150vh;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(41, 163, 47, 0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(95, 21, 212, 0.2);
	color: #000000;
}

th {
	text-align: left;
}

tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}

tbody td{
    position: relative;
}

tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}