@import "variables";

body{
    display: flex; 
    flex-direction: row; 
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: $backgroundUrl repeat;
    color: $text-color;

    @media screen and (max-width: 740px) {
        flex-direction: column;
    }
}

section{
    display: flex; 
    flex-direction: column;
    
    align-items: center; 
    
    height: 92vh; 
}

.side-section{
    width: 30vw; 
    @media screen and (max-width: 740px) {
        width: 100vw; 
    }
}

.center-section{
    width: 40vw; 
    justify-content: center; 
    @media screen and (max-width: 740px) {
        width: 100vw; 
    }
}

.dg .title{
    text-align: center !important;
    font-size: 3vh !important;
    margin-bottom: 0 !important;
}

.dat-title{
    text-align: center;
    font-size: 3vh;
}

.divider{
    width : 50%;
    color: $text-color;
    background: $text-color;
    border-color: $text-color;
}

.block{
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.block-data{
    width: 70vw; 
    @media screen and (max-width: 740px) {
        width: auto; 
        text-align: center;
    }
}

.block-icon{
    width: 30vw; 
    @media screen and (max-width: 740px) {
        width: auto; 
    }
}


