body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url("../img/pattern-light.png") repeat;
  color: black;
}

@media screen and (max-width: 740px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
}

.side-section {
  width: 30vw;
}

@media screen and (max-width: 740px) {
  .side-section {
    width: 100vw;
  }
}

.center-section {
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 740px) {
  .center-section {
    width: 100vw;
  }
}

.dg .title {
  text-align: center !important;
  font-size: 3vh !important;
  margin-bottom: 0 !important;
}

.dat-title {
  text-align: center;
  font-size: 3vh;
}

.divider {
  width: 50%;
  color: black;
  background: black;
  border-color: black;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-data {
  width: 70vw;
}

@media screen and (max-width: 740px) {
  .block-data {
    width: auto;
    text-align: center;
  }
}

.block-icon {
  width: 30vw;
}

@media screen and (max-width: 740px) {
  .block-icon {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */